body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;


}

header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

main {
    text-align: center;
    padding: 20px;
    margin: 0px;
    background-color: aliceblue;
}

img {
    border-radius: 20%;
}




a {
    text-decoration: none;
    color: rgb(156, 111, 156);
    font-weight: bold;
    font-size: large;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    background-color: #3d3d3d;


}